// Open sans, normal

@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf'); font-style: normal;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
    font-weight:100; font-style: normal;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Semibold.ttf');
    font-weight:200; font-style: normal;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight:300; font-style: normal;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight:400; font-style: normal;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
    font-weight:500; font-style: normal;
}

// Open sans, italic

@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf'); font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf');
    font-weight:100; font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf');
    font-weight:200; font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf');
    font-weight:300; font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf');
    font-weight:400; font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf');
    font-weight:500; font-style: italic;
}

// Economica, normal

@font-face{
    font-family: Economica;
    src: url('../fonts/Economica/Economica-Regular.ttf'); font-style: normal;
}
/*@font-face{
    font-family: Economica;
    src: url('../fonts/Economica/Economica-Light.ttf');
    font-weight:200; font-style: normal;
}*/
@font-face{
    font-family: Economica;
    src: url('../fonts/Economica/Economica-Regular.ttf');
    font-weight:300; font-style: normal;
}
@font-face{
    font-family: Economica;
    src: url('../fonts/Economica/Economica-Bold.ttf');
    font-weight:400; font-style: normal;
}
